@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'),
    url('../fonts/Segoe UI Regular/SegoeUI.ttf') format('truetype'),
    url('../fonts/Segoe UI Regular/SegoeUI.woff') format('woff'),
    url('../fonts/Segoe UI Regular/SegoeUI.woff2') format('woff2');

}

@font-face {
    font-family: 'Segoe UI Bold';
    src: local('Segoe UI Bold'),
    url('../fonts/Segoe UI Bold/SegoeUI-Bold.ttf') format('truetype'),
    url('../fonts/Segoe UI Bold/SegoeUI-Bold.woff') format('woff'),
    url('../fonts/Segoe UI Bold/SegoeUI-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: local('Segoe UI Semibold'),
    url('../fonts/Segoe UI Semibold/SegoeUI-Semibold.ttf') format('truetype'),
    url('../fonts/Segoe UI Semibold/SegoeUI-Semibold.woff') format('woff'),
    url('../fonts/Segoe UI Semibold/SegoeUI-Semibold.woff2') format('woff2');
}


body {
    font-family: "Segoe UI", sans-serif;
    color: #000;
    background-color: #F6F6FA;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}

.arrow {
    background: #F6F6FA;
    transition: all 0.5s ease-in-out;
}

.not_active_arrow {
    transform: rotateZ(180deg);
}

/*Header starts*/
header {
    padding: 16px 0 44px;
    background-color: #6725A8;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    margin: 4px 0;
    padding: 12px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.hamburger_line {
    border-radius: 5px;
    width: 27px;
    height: 4px;
    background: #FFFFFF;
    margin-bottom: 5px;
}

.hamburger_line:last-child {
    margin-bottom: 0;
}

.logo-wrapper{
    display: flex;
    gap: 16px
}

.logo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo_text {
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-variant: small-caps;
    color: #fff;
    width: 89px;
}

.logo-wrapper svg{
    display: none;
}

.search_bar {
    position: relative;
    flex-basis: 990px;
    margin: 0 32px;
}

.search_bar_placeholder{
    width: 100%;
    padding: 15px 55px 15px 20px;
    border-radius: 36px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);

}

.search_bar_placeholder::-webkit-input-placeholder {
    color:#fff;
    opacity: 0.5;
    padding-left: 5px;
}

.search-button {
    position: absolute;
    right: 23px;
    top: 14px;
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0);
}

.search-button svg{
    fill: #fff;
}

.menu-items{
    display: flex;
    align-items: center;
    gap: 41px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    padding-top: 5px;
}

.item img {
    height: 28px;
    width: 28px;
}

.item_text {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.round {
    background-color: #F55123;
    height: 16px;
    min-width: 16px;
    border-radius: 16px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 10px;
    line-height: 18px;
}

/*Header ends*/

/*Products starts*/
.products {
    border-top: 24px solid #F6F6FA;
    border-radius: 24px;
    transform: translateY(-23px);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    width: 100%;
}


.heading_products_wrapper{
    width: 65%;
}

.title_heading_wrapper {
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    display: none;
}

.not_active {
    display: none;
}

.heading_products_wrapper:last-child {
    width: 65%;
    padding-right: 23px;
}

.heading_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 25px;
}

.label_select_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    width: 128px;
    height: 24px;
}

.checkbox {
    display: none;
}

.checkbox_wrapper {
    display: flex;
    column-gap: 15px;
    position: relative;
}

.select {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.select::before {
    content: "";
    display:block;
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.select::after{
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #CB11AB;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/products/checkmark.svg");
    border-radius: 8px;
    opacity: 0;
    transition: .2s ease;
}

.select_menu {
    position: absolute;
    top: 38px;
}

.checkbox:checked + .select::after {
    opacity: 1;
}

.line {
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
}

.product {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.top_product {
    display: flex;
    margin-bottom: 12px;
}

.top_product:last-child {
    margin-bottom: 0;
}

.mobile_params {
    display: none;
}

.bottom_product {
    display: none;
}

.mobile_price {
    display: none;
}

.product_image {
    height: 96px;
    width: 72px;
    border-radius: 8px;
    margin-right: 16px;
    margin-left: 19px;
}

.left_side {
    display: flex;
    width: 65%;
}

.description {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    margin-right: 10px;
}

.name_product {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.features {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 8px;
}

.warehouse {
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A4;
}

.shop_container {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}


.shop_container a:hover > .info_shop {
    display: block;
}

.info_shop {
    position: absolute;
    bottom: -110px;
    left: 10px;
    z-index: 5;
    width: 280px;
    height: 104px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.3);
    display: none;
    color: #000;
}

.info_shop h4 {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 8px;
}

.info_shop span {
    font-size: 13px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;
}

.info_shop p {
    font-size: 13px;
    line-height: 16px;
}

.shop {
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A4;
}

.right_side {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.counter_wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 45px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 8px;
}

.minus {
    transform: translateY(8px);
    background-color: #fff;
}

.number {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.plus {
    transform: translateY(4px);
    background-color: #fff;
}

.remains {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FF3B30;
    margin-bottom: 10px;
}

.images {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-left: 45px;
}

.like {
    fill: #000;
    transition: all .2s;
}

.delete {
    fill: #000;
    transition: all .2s;
}

.like:hover {
    fill: #F55123;
    cursor: pointer;
}

.delete:hover {
    fill: #F55123;
    cursor: pointer;
}

.active_svg {
    fill: #F55123;
    cursor: pointer;
}

.price {
    display: flex;
    flex-direction: column;
}

.full_price {
    display: flex;
    column-gap: 5px;
}

.sum {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 20px;
    line-height: 28px;
    white-space: nowrap;
}

.discount{
    display: flex;
    justify-content: flex-end;
    position: relative;

}


.discount_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A4;
    position: relative;
    cursor: pointer;
}

.discount_text:hover > .detailed_discount {
    display: block;
}

.detailed_discount {
    display: none;
    position: absolute;
    bottom: -73px;
    right: -10px;
    width: 239px;
    height: 64px;
    padding: 12px 16px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.3);
}

.main_discount {
    display: flex;
    justify-content: space-between;
}

.percent {
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A4;
    margin-bottom: 10px;
}

.amount {
    font-size: 13px;
    line-height: 16px;
    color: #000;
}

.discount_text::before {
    position: absolute;
    content: "";
    border: none;
    border-top: 1px solid #A0A0A4;
    height: 1px;
    width: 100%;
    bottom: 35%;
    left: 0;
}

.discount_text::after {
    position: absolute;
    content: "";
    border: none;
    border-top: 1px dashed #A0A0A4;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
}
/*Cheque starts*/
.cheque {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 16px 23px 24px;
    width: 35%;
    height: 572px;
    background-color: #fff;
}

.total_name_title{
    display: flex;
    justify-content: space-between;
}

.total_name_title h2 {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.total_name_title span {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.total {
    display: flex;
    flex-direction: column;
}

.total_name {
    display: flex;
    justify-content: space-between;
}


.total_name h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.total_name span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.delivery {
    display: flex;
    flex-direction: column;
}

.point_issue {
    display: flex;
    justify-content: space-between;
}

.point_issue h4 {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.point_issue img {
    cursor: pointer;
}

.cheque_address {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.date {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #CB11AB;
    position: relative;
    margin-bottom: 13px;
    cursor: pointer;
}

.date::after {
    position: absolute;
    content: "";
    border: none;
    border-top: 1px dashed rgba(203, 17, 171, 0.2);
    height: 1px;
    width: 47px;
    bottom: -2px;
    left: 0;
}

.back_delivery {
    display: flex;
    column-gap: 9px;
    background: #F6F6FA;
    border-radius: 8px;
    padding: 8px;
}

.back_delivery p {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.back_delivery_word {
    color: #0CB477;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.back_delivery_word:hover > .free_delivery_terms {
    display: block;
}

.free_delivery_terms {
    display: none;
    position: absolute;
    bottom: -60px;
    left: -117px;
    color: #000;
    width: 288px;
    height: 56px;
    padding: 10px 16px 14px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.3);
}

.free_delivery_terms p {
    font-size: 13px;
    line-height: 16px;
}

.back_delivery_word::after {
    position: absolute;
    content: "";
    border: none;
    border-top: 1px dashed rgba(12, 180, 119, 0.2);
    height: 1px;
    width: 62px;
    bottom: -1px;
    left: 0;
}

.payment {
    display: flex;
    flex-direction: column;
}

.payment_title {
    display: flex;
    justify-content: space-between;
}

.payment_title h4{
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.card {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card_img {
    margin-right: 8px;
}

.number {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.write-down{
    background: #F6F6FA;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px 8px 8px 12px;
}

.select_cheque {
    column-gap: 8px;
    margin-bottom: 8px;
}

.write-down p {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.payment_button_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.payment_button {
    height: 44px;
    background: #CB11AB;
    border-radius: 8px;
}

.text_button {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.agreement {
    display: flex;
    position: relative;
}

.agreement img {
    position: absolute;
    top: 5px;
}

.agreement p {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-left: 20px;
}

.rules {
    display: inline;
    position: relative;
}

.rules::after {
    position: absolute;
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
}
/*Cheque starts*/

/*Products ends*/

/*Missing products starts*/
.missing_products {
    margin-bottom: 56px;
}

.missing_heading_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.missing_heading {
    font-family: "Segoe UI Semibold",sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.grey_product {
    display: flex;
    flex-direction: row;
}

.product_image_grey{
    width: 72px;
    height: 96px;
    filter: grayscale(1);
    border-radius: 8px;
    margin-right: 15px;
}

.name_product_grey {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A0A0A4;
}

.features_grey {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A4;
}

.right_side_grey {
    width: 35%;
    display: flex;
}
/*Missing products ends*/

/*Delivery method starts*/
.delivery_method {
    margin-bottom: 16px;
}

.block_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    border-radius: 16px;
    background: #fff;
    padding: 16px 24px 24px;
    width: 65%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2 {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
}

.title a {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #CB11AB;
}

.content {
    display: flex;
    column-gap: 32px;
}

.delivery_point_mobile {
    display: none;
}

.delivery_price_mobile {
    display: none;
}

.products_images_mobile {
    display: none;
}

.left_side_content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.left_side_content h5 {
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.left_side_content h5:first-child {
    height: 39px;
    line-height: 1;
}

.left_side_content h5:nth-child(3) {
    height: 10px;
    line-height: 1;
    white-space: nowrap;
}

.left_side_content h5:nth-child(5) {
    height: 45px;
    line-height: 1;
    white-space: nowrap;
}



.right_side_content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.address {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.feedback {
    display: flex;
    align-items: center;
}

.feedback img{
    width: 12px;
    height: 16px;
    margin-right: 3px;
}

.feedback span{
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
}

.feedback p{
    font-size: 16px;
    line-height: 24px;
}

.delivery_price {
    font-size: 16px;
    line-height: 16px;
}

.products_images {
    display: flex;
    column-gap: 8px;
}

.products_images img {
    width: 40px;
    height: 56px;
    border-radius: 8px;
}

.image_item {
    position: relative;
}

.back_delivery_main {
    background: #fff;
    padding: 0;
    align-items: center;
}
/*Delivery method ends*/

/*Payments methods starts*/
.payment_methods {
    margin-bottom: 16px;
}
.card_2 {
    margin-top: 16px;
    margin-bottom: 8px;
}
.card_code {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.code {
    font-size: 16px;
    line-height: 24px;
}

.debiting {
    color: #A0A0A4;
}

.block_wrapper_2 {
    row-gap: unset;
}
/*Payments methods ends*/

/*Data recipient starts*/
.data_recipient {
    border-bottom: 24px solid #F6F6FA;
    border-radius: 24px;
    position: relative;
    z-index: 3;
}

.recipient_form {
    max-width: 700px;
}

.form_row {
    display: flex;
    column-gap: 24px;
}

.form_group {
    flex: 1;
    position: relative;
    margin-bottom: 37px;
}

.input_form_group {
    width: 100%;
    padding: 3px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 24px;
}

.input_form_group.error {
    color: red;
}

.error_text {
    position: absolute;
    color: red;
    bottom: 0;
    left: 0;
    display: none;
}

.error_row {
    bottom: -20px;
}

.active {
    display: block;
}


.label_form_group {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all .2s ease;
    color: #A0A0A4;
}

.input_form_group:not(:placeholder-shown) + .label_form_group {
    transform: translateY(-15px);
    font-size: 12px;
}

.input_form_group:focus + .label_form_group {
    transform: translateY(-15px);
    font-size: 12px;
}

.form_group_subtitle {
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
}

/*Data recipient ends*/

/*Footer starts*/
.footer {
    background: #6725A8;
    transform: translateY(-23px);
    padding-top: 23px;
}

.name_company {
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    padding: 24px 0;
}
/*Footer ends*/

/*Down cheque starts*/
.down_cheque {
    border-bottom: 24px solid #F6F6FA;
    border-radius: 24px;
    position: relative;
    z-index: 3;
}

.cheque_wrapper {

}

.second_cheque {
    width: 100%;
    box-shadow: none;
    background-color: #F6F6FA;
    display: none;
    flex-direction: column;
    row-gap: 24px;
    padding: 16px 23px 24px;
    height: 572px;
}

.back_delivery_down_cheque {
    background-color: #F0ECF4;
}
/*Down cheque ends*/