@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'),
    url('../fonts/Segoe UI Regular/SegoeUI.ttf') format('truetype'),
    url('../fonts/Segoe UI Regular/SegoeUI.woff') format('woff'),
    url('../fonts/Segoe UI Regular/SegoeUI.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: local('Segoe UI Bold'),
    url('../fonts/Segoe UI Bold/SegoeUI-Bold.ttf') format('truetype'),
    url('../fonts/Segoe UI Bold/SegoeUI-Bold.woff') format('woff'),
    url('../fonts/Segoe UI Bold/SegoeUI-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: local('Segoe UI Semibold'),
    url('../fonts/Segoe UI Semibold/SegoeUI-Semibold.ttf') format('truetype'),
    url('../fonts/Segoe UI Semibold/SegoeUI-Semibold.woff') format('woff'),
    url('../fonts/Segoe UI Semibold/SegoeUI-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


body {
    font-family: Segoe UI, sans-serif;
    color: #000;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
}